<div class="text-button__title-container">
  <div class="text-button__title-wrapper">
    {%- if title != blank -%}
      <h3 class="text-button__title">
        {{ title }}
      </h3>
    {%- endif -%}
  </div>
  {%- if linkTitle != blank -%}
    <div class="text-button__link-wrapper">
      <a class="a__link" href="{{ link }}">
        {{ linkTitle }}
      </a>
    </div>
  {%- endif -%}
</div>
{% comment %} The css is save in utilis{% endcomment %}
