<div class="text-button__title-container">
  <div class="text-button__title-wrapper">
    <h3 class="text-button__title">Sales & Events: Mother's Day Sale</h3>
  </div>
  <div class="text-button__link-wrapper">
    <a class="text-button__link" href="#">View All Sales</a>
  </div>
</div>

<style>
  .text-button__title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text-button__title-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .text-button__title {
    font-size: 20px;
    font-weight: 600;
    color: #000000ca;
  }
  .text-button__link-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  @media (min-width: 768px) {
    .text-button__title {
      font-size: 24px;
    }
  }
</style>
