{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

<section class="annoucement w-screen">
  <div class="announcement__wrapper container h-fit ">
    <div class="announcement__wrapper--left w-full whitespace-nowrap">
      <p class="annoucement__wrapper--left-paragraph inline">EARLY BLA CK FRIDAY SALE</p>
      <p class="annoucement__wrapper--left-paragraph inline">DOORBUSTE RS | LIMITED QUANTITIES</p>
      <p class="annoucement__wrapper--left-paragraph inline">920,000+ HAPPY CUSTOMERS | ⭐⭐⭐⭐⭐ | SINCE 1999</p>
      <p class="annoucement__wrapper--left-paragraph inline">EXTENDED RETURNS UNTIL JAN. 10th 2025</p>
    </div>
    <div class="announcement__wrapper--right">
      <div>
        <span>
          {% render 'icon_dialogue', width: 24, height: 24 %}
        </span>
        <span><p>Chat or Call (900) 000-1113</p></span>
      </div>
      <div>
        <div>
          <span>
            {% render 'icon_phone_call', width: 24, height: 24 %}
          </span>
          <a href="">Call</a>
        </div>
        <div>
          <span>
            {% render 'icon_dialogue', width: 24, height: 24 %}
          </span>
          <a href="">Chat</a>
        </div>
        <div>
          <span>
            {% render 'icon_whatsapp', width: 24, height: 24 %}
          </span>
          <a href="">WhatsApp</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "annoucement-bar",
  "class": "annoucement-bar",
  "tag": "section",
  "enabled_on": { "groups": ["header"] },
  "settings": [],
  "locales": {
    "en": { "title": "Annoucement bar" },
    "fr": { "title": "Barre d'announce" }
  },
  "presets": [{ "name": "Annoucement bar" }]
}
{% endschema %}
