<section>
  <div>
    <div>
      <p>EARLY BLACK FRIDAY SALE</p>
      <p>DOORBUSTERS | LIMITED QUANTITIES</p>
      <p>920,000+ HAPPY CUSTOMERS | ⭐⭐⭐⭐⭐ | SINCE 1999</p>
      <p>EXTENDED RETURNS UNTIL JAN. 10th 2025</p>
    </div>
    <div>
      <div>
        <p>Chat or Call (900) 000-1113</p>
      </div>
      <div>
        <div>
          <span>icon</span>
          <span>text</span>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %} { "name": "annoucement-bar", "class": "annoucement-bar", "tag":
"section", "enabled_on": { "groups": ["header"] }, "settings": [], "locales": {
"en": { "title": "Annoucement bar" }, "fr": { "title": "Barre d'announce" } },
"presets": [ { "name": "Annoucement bar" } ] } {% endschema %}
