.announcement {
  position: relative;
}
.announcement__wrapper {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.announcement__left--wrapper {
  width: 100%;
}
#scrollContainer {
  overflow-x: scroll; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
}
#scrollContainer::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}
.announcement__left {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  white-space: wrap;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.announcement__left--div {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  scroll-snap-align: start; /* */
}
.announcement__left--div-paragraph {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
/* ---------------------------- Right side ------ */
.announcement__right {
  display: none;
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
  .announcement__left--wrapper {
    width: 50%;
  }
  .announcement__left--div {
    justify-content: start;
  }
  /* -------- Right side ------ */
  .announcement__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }
  .announcement__right--visibleText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  .announcement__right--visibleText__text {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  .hiddenBlock {
    display: none;
  }
}
@media (min-width: 1024px) {
  .announcement__left--div-paragraph {
    font-size: 14px;
  }
  /* -------- Right side ------ */
}
@media (min-width: 1280px) {
  /* -------- Right side ------ */
  .announcement__right--hiddenBlocks {
    min-width: 180px;
    z-index: 10;
    background-color: white;
    padding: 20px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .hiddenBlock {
    position: absolute;
    top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.276);
    display: flex;
    gap: 10px;
    animation-fill-mode: forwards;
    /* animation: hiddenBlock 700ms ease-in-out; */
    opacity: 0;
  }
  @keyframes hiddenBlock {
    0% {
      top: 50px;
      opacity: 0;
    }
    100% {
      top: 36px;
      opacity: 1;
    }
  }
  @keyframes hiddenBlockReverse {
    0% {
      top: 36px;
      opacity: 1;
    }
    100% {
      top: 50px;
      opacity: 0;
    }
  }
  .announcement__right--hiddenBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .announcement__right--hiddenBlock .announcement__right--hiddenBlock__text {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
}
@media (min-width: 1536px) {
}
