.header__mobile {
  display: block;
  background-color: white;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 20px 30px;
  height: 100vh;
  transform: translateX(-100%);
}
.openMenuAnnimation {
  animation-name: showMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  left: 0%;
}
.closeMenuAnnimation {
  animation-name: hideMenu;
  animation-duration: 1s;
}
@keyframes showMenu {
  100% {
    transform: translateX(0%);
  }
}
@keyframes hideMenu {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.header__mobile__IconClose {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.header__mobile__IconClose-span {
  display: block;
}
.header__mobile--list {
  padding: 10px 0px;
}
.header__mobile--list-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__mobile--list-group > .header__mobile--list-link,
.header__mobile--list-group > .header__mobile--list-icon {
  display: block;
  text-decoration: none;
  color: black;
}
@media (min-width: 640px) {
  /* .header__mobile {
    transform: translateX(-107%);
  }
  .openMenuAnnimation {
    left: -9%;
  } */
}
@media (min-width: 768px) {
  /* .header__mobile {
    transform: translateX(-114%);
  }
  .openMenuAnnimation {
    left: -15%;
  } */
}
@media (min-width: 1024px) {
  .header__mobile {
    display: none !important;
  }
}
