.container {
  max-width: 100%;
  padding: 0 20px;
}

/* Flexbox Utilities */
.flex {
  display: flex;
}
.hidden {
  display: none !important;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block;
}
.inline-flex {
  display: inline-flex;
}
.grid {
  display: grid;
}
.inline {
  display: inline;
}
.whitespace-normal {
  white-space: normal;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-stretch {
  justify-content: stretch;
}
.justify-items-start {
  justify-items: start;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-stretch {
  justify-items: stretch;
}

.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}
/* Grid Utilities */

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
/* Padding */
.p-0 {
  padding: 0;
}

.p-2 {
  padding: 0.5rem; /* 8px */
}

.p-4 {
  padding: 1rem; /* 16px */
}

.p-8 {
  padding: 2rem; /* 32px */
}

/* Margin */
.m-0 {
  margin: 0;
}

.m-2 {
  margin: 0.5rem; /* 8px */
}

.m-4 {
  margin: 1rem; /* 16px */
}

.m-8 {
  margin: 2rem; /* 32px */
}

/* Auto Margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Width */
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w-fit {
  width: fit-content;
}
.w-auto {
  width: auto;
}

.w-1-2 {
  width: 50%;
}

.w-1-4 {
  width: 25%;
}

/* Height */
.h-full {
  height: 100%;
}
.h-fit {
  height: fit-content;
}

.h-screen {
  height: 100vh;
}
.h-fit {
  height: fit-content;
}
/* Font Weight */
.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

/* Text Alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.rounded-none {
  border-radius: 0px;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.rounded-2xl {
  border-radius: 1rem;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-full {
  border-radius: 9999px;
}

/* Snippet: Text-button */
.text-button__title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-button__title-wrapper {
  width: 50%;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}
.text-button__title {
  font-size: 20px;
  font-weight: 600;
  color: #000000ca;
}
.text-button__link-wrapper {
  width: 50%;
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 768px) {
  .text-button__title {
    font-size: 24px;
  }
}
/* End Snippet: Text-button */
/* Snippet: Short-card */
/* Divs to display */
.short-card__box {
  width: 46%;
  height: 100%;
  min-height: 204px;
  text-decoration: none;
}
.short-card__image-wrapper {
  width: 100%;
  height: 100%;
  min-width: 139px;
  min-height: 139px;
  overflow: hidden;
  border-radius: 10px;
}
.short-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.short-card__text-wrapper {
  padding: 5px 9px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.short-card__text {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
.short-card__subtext {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
} /**/
@media (min-width: 640px) {
  .short-card__image-wrapper {
    min-height: 240px;
  }
}
@media (min-width: 768px) {
  /* Divs to display */
  .short-card__box {
    width: 25%;
    height: 234px;
  }

  .short-card__image-wrapper {
    height: 162px;
    min-height: 0%;
  }
}

@media (min-width: 1024px) {
  /* Divs to display */
  .short-card__box {
    height: 285px;
  }
  .short-card__image-wrapper {
    height: 215px;
  }
}

@media (min-width: 1280px) {
  /* Divs to display */
  .short-card__box {
    height: 328px;
  }

  .short-card__image-wrapper {
    height: 280px;
  }
}
@media (min-width: 1280px) {
  /* Divs to display */
  .short-card__box {
    height: 405px;
  }

  .short-card__image-wrapper {
    height: 354px;
  }
}
/* End Snippet: Short-card */

/* Snippet: a-link */
.a__link {
  display: block;
  padding: 14px 18px 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
/* End Snippet: a-link */
